@font-face {
    font-family: "Sail";
    src: url("../../fonts/Sail-Regular.ttf");
}

@font-face {
    font-family: "Swash";
    src: url("../../fonts/berkshire-swash.regular.ttf");
}

:root {
    --header-font: "Sail", sans-serif;
    --main-font: "Swash", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--header-font);
    font-size: 62.5%;
}

.container {
    margin-top: 10rem;
    padding: 3rem;
    font-size: 2rem;
}

.title {
    text-align: center;
    font-size: 4rem;
}

.btn {
    border: .1rem solid #000;
    border-radius: .3rem;
    padding: .5rem 1rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .1s ease;
    background-color: #fff;
    box-shadow: 0 .5rem .7rem #000;
    font-weight: bold;
    outline: none;
    
    &:active {
        transform: translateY(.2rem);
    }
    
    &:hover {
        background-color: #000;
        color: #fff;
    }

    &--danger:hover {
        background-color: red;
    }
    
}
