.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--main-font);

    &:not(:last-child) {
        margin-bottom: 1rem;
    }

    &__label {
        cursor: pointer;
        margin-top: 1rem;
        margin-right: 2rem;
        
        &::before {
            content: "";
            height: 1.5rem;
            width: 1.5rem;
            display: inline-block;
            transition: all .7s;
        }
    }
    
    &__info {
        margin-right: auto;
        display: flex;
        align-items: center;
    }
    
    &__input {
        margin-right: 2rem;
        display: none;

        &:checked ~ label::before {
            background-color: transparent;
            content: url(../../img/check-solid.svg);
        }
    }

    &__title {
        text-transform: capitalize;
        margin-left: 1rem;
    }
}